section {
	padding-top: 50px;
	padding-bottom: 50px;
}
.carousel-control-next-icon {
	background-image: url(../img/right-arrow.svg);
}
.carousel-control-prev-icon {
	background-image: url(../img/left-arrow.svg);
}
.carousel-control-next,
.carousel-control-prev {
	width: 20px;
}
.carousel-control-prev {
	left: 0px;
}
.carousel-control-next {
	right: 0px;
}
.nav-link {
}
.navbar-light .navbar-nav .nav-link {
	color: #212629;
	font-size: 25px;
}
.navbar-light .navbar-brand {
	color: #212629;
}
.bg-light-Main {
	background-color: pink;
}
.btn-outline-success {
	color: #070704;
	border-color: #021011;
}
.nav-link-game {
	text-decoration: none;
	font-size: 60px;
	color: black;
}
.nav-link-game:hover {
	color: aliceblue;
}
.container-xxl {
	background-color: pink;
}
body {
	background-color: antiquewhite;
}
.btn-primary {
	color: rgba(255, 255, 255, 0.856);
	background-color: rgb(62, 77, 28);
	border-color: #e4eff1;
}