
section {
	padding-top: 50px;
	padding-bottom: 50px;
}
.carousel-control-next-icon {
	background-image: url(../img/right-arrow.svg);
}
.carousel-control-prev-icon {
	background-image: url(../img/left-arrow.svg);
}
.carousel-control-next,
.carousel-control-prev {
	width: 20px;
}
.carousel-control-prev {
	left: -35px;
}
.carousel-control-next {
	right: -35px;
}
.nav-link {
}
.navbar-light .navbar-nav .nav-link {
	color: #212629;
	font-size: 25px;
}
.navbar-light .navbar-brand {
	color: #212629;
}
.bg-light-Main {
	background-color: pink;
}
.btn-outline-success {
	color: #070704;
	border-color: #021011;
}
